.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
  font-size: xx-large;
  padding: 30px 50px !important;
}

.modal-header * {
  text-shadow: none !important;
}

.modal-header > h2 {
  color: gray;
  font-weight: 900;
}

.modal-header > .btns {
  flex-direction: column;
}

.modal-content,
.modal.success .modal-content {
  max-width: 700px;
  color: #333;
  position: relative;
  background-color: #fefefef5;
  margin: 20vh auto;
  padding-bottom: 1rem;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animateTop;
  animation-duration: 0.4s;
}

@keyframes animateTop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Modal types */
#danger-msg {
  color: var(--dangerColor);
}

#success-msg {
  color: green;
}

.success,
.success * {
  animation: fadeOut 2.2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

/* TABLETS */
@media (max-width: 759px) {
  .modal .btns * {
    margin: 0.5rem;
  }
}

/* MOBILES */
@media (max-width: 481px) {
  .modal {
    display: flex;
  }

  .modal-warning {
    font-size: large;
  }

  .modal-content,
  .modal.success .modal-content {
    overflow-y: auto;
    min-height: 66%;
    max-height: 90%;
    width: 90%;
    margin: auto;
  }
}
