:root {
  --dangerColor: rgb(173, 12, 12);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baumans', cursive;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 15px;
}